<div class="-mx-2 -my-3">
    <div class="flex flex-wrap">
        {% include 'symbols/blocks/block.html' with key='1' blocks=structure.blocks1 phase=structure.get_phase1_display %}
        {% include 'symbols/blocks/block.html' with key='2' blocks=structure.blocks2 phase=structure.get_phase2_display %}
        {% include 'symbols/blocks/block.html' with key='3' blocks=structure.blocks3 phase=structure.get_phase3_display %}
        {% include 'symbols/blocks/block.html' with key='4' blocks=structure.blocks4 phase=structure.get_phase4_display %}
        {% include 'symbols/blocks/block.html' with key='5' blocks=structure.blocks5 phase=structure.get_phase5_display %}
    </div>
</div>