{% load static %}

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('trainingsData', () => ({
            filterSelected: {},
            groupOpen: {},
            filterMenuOpen: false,
            menuOpen: false,
            trainerMenuOpen: false,
            difficultyMenuOpen: false,
            show: 0,
            exercises: [],
            orderBy: '?',
            orderDirection: 'asc',
            init() {
                {{ filters_selected }}.
                forEach(filter => this.filterSelected[filter] = true);
                {{ groups_open }}.
                forEach(pk => this.groupOpen[pk] = true);
                this.$watch('show', (v) => {
                    if (v !== 0) {
                        document.querySelector('html').classList.add('overflow-hidden');
                        document.querySelector('html').style.paddingRight = 'var(--scrollbar-width)';
                    } else {
                        document.querySelector('html').classList.remove('overflow-hidden');
                        document.querySelector('html').style.paddingRight = '0';
                    }
                })
                this.fetchExercises();
            },
            get showed() {
                return this.exercisesAdapted.length
            },
            get filtersTrue() {
                return Object.keys(this.filterSelected).map(key => this.filterSelected[key] ? parseInt(key) : 0).filter(item => item !== 0);
            },
            get exercisesAdapted() {
                const exercises = this.exercises.filter(e => this.filtersTrue.map(f => e.filterIds.includes(f)).every(_ => _));
                if (this.orderBy === '?')
                    return window._shuffle(exercises)
                else
                    return window._orderBy(exercises, [this.orderBy], [this.orderDirection])

            },
            showFilter(filterPk) {
                return this.filtersTrue.includes(filterPk);
            },
            groupClicked(groupPk) {
                this.groupOpen[groupPk] = !this.groupOpen[groupPk];
                fetch(`/api/filter_groups/${groupPk}/`, {
                    method: 'POST',
                    credentials: 'same-origin',
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken"),
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                })
            },
            fetchExercises() {
                fetch("{{ endpoint }}", {
                    headers: {
                        "Content-Type": "application/json",
                    },
                    credentials: "same-origin",
                })
                    .then((res) => res.json())
                    .then((data) => {
                        this.exercises = data;
                    })
                    .catch((err) => {
                        alert('Es ist leider ein Fehler aufgetreten: ' + err);
                    });
            },
            filterClicked(filterPk, set = false) {
                if (set)
                    this.filterSelected[filterPk] = !this.filterSelected[filterPk];
                fetch(`/api/training_filters/${filterPk}/`, {
                    method: 'POST',
                    credentials: 'same-origin',
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken"),
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                }).then(response => response.json()).then(data => {
                    if (typeof (this.showed) !== "string")
                        this.showed = data['videos'];
                })
            }
        }))
    })
</script>