{% load static %}
{% load extra_tags %}

<script>
    window.generator = () => {
        return {
            name: '{{ formdata|get_item:'name'|default:'' }}',
            topic: {{ topic.pk|default:0 }},
            structure: {{ structure.pk|default:0 }},
            block1: {{ block1.pk|default:0 }},
            block2: {{ block2.pk|default:0 }},
            block3: {{ block3.pk|default:0 }},
            block4: {{ block4.pk|default:0 }},
            block5: {{ block5.pk|default:0 }},
            exercise1: {{ exercise1.pk|default:0 }},
            exercise2: {{ exercise2.pk|default:0 }},
            exercise3: {{ exercise3.pk|default:0 }},
            exercise4: {{ exercise4.pk|default:0 }},
            exercise5: {{ exercise5.pk|default:0 }},
            amount: {% if formdata|get_item:'structure' and not formdata|get_item2:'structure.phase5' %}4{% else %}5{% endif %},
            show: 0,
        }
    }
</script>