{% load extra_tags %}

{% if exercise.description %}
    <h2 class="text-xl font-bold mb-2 mt-3">Beschreibung</h2>
    {{ exercise.description|safe }}
{% endif %}
{% if exercise.variations %}
    <h2 class="text-xl font-bold mt-5 mb-2">Variationen</h2>
    {{ exercise.variations|safe }}
{% endif %}
{% with filters=exercise.filters.all|filter_show_on_detail %}
    {% if filters %}
        <h2 class="text-xl font-bold">Spielprinzipien & Methoden</h2>
        {% for filter in filters %}
            <b>{{ filter.name }}</b>
            <ul>
                {% for item in filter.description|splitlines %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
{% endwith %}
{% if exercise.coaching %}
    <h2 class="text-xl font-bold mt-5 mb-2">Coachingpunkte</h2>
    {{ exercise.coaching|safe }}
{% endif %}
