{% load static %}

{# fix a weird printing issue #}
<style>
    @media print {
        ul {
            padding-left: 20px !important;
        }

        li {
            list-style-type: disc !important;
            padding-left: 0px !important;
        }

        li::before {
            display: none !important;
        }
    }
</style>
{# endfix #}
<div class="prose prose-sm w-full max-w-none" style="font-size: 75%;">
    <div class="float-right">
        <img class="block w-auto h-12 lg:h-14"
             style="margin: 0;"
             src="{% static 'img/generation-vfr-logo.png' %}"
             alt="VfR Garching">
    </div>
    <h1 class="text-3xl font-bold" style="margin: 0;">{{ exercise.name }}</h1>
    <p style="margin: 0;">{{ exercise.focus }}</p>
    <div class="-mx-2 mt-5">
        <img class="inline w-1/2 float-left p-2 m-0" src="{{ exercise.image1.url }}" alt="Bild 1"
             style="margin: 0;">
        {% if exercise.image2 %}
            <img class="inline w-1/2 float-left p-2 m-0" src="{{ exercise.image2.url }}"
                 alt="Bild 2" style="margin: 0;">
        {% endif %}
        {% if exercise.image3 %}
            <img class="inline w-1/2 float-left p-2 m-0" src="{{ exercise.image3.url }}"
                 alt="Bild 3" style="margin: 0;">
        {% endif %}
        {% if exercise.image4 %}
            <img class="inline w-1/2 float-left p-2 m-0" src="{{ exercise.image4.url }}"
                 alt="Bild 4" style="margin: 0;">
        {% endif %}
    </div>
    <div class="clear-both"></div>
    {% include 'symbols/exercise/content.html' %}
</div>