{% load extra_tags %}

{% spaceless %}
    {% if step == '1' or step == '2' %}
        ?schritt={{ step|add:1 }}
    {% elif step == '3' %}
        ?schritt={{ step|add:1 }}&uebung={{ exercise_step|add:1 }}
    {% elif step == '4' %}
        {% if exercise_step == '5' %}
            ?schritt={{ step|add:1 }}&uebung={{ exercise_step }}
        {% elif exercise_step == '4' and not structure.phase5 %}
            ?schritt={{ step|add:1 }}&uebung={{ exercise_step }}
        {% else %}
            ?schritt={{ step }}&uebung={{ exercise_step|add:1 }}
        {% endif %}
    {% elif step == '5' %}
        ?schritt={{ step }}&uebung={{ exercise_step }}
    {% endif %}
{% endspaceless %}
