<div class="grid grid-cols-5 gap-4" id="blocks">
    {% include 'symbols/pages/generator/blocks_block.html' with number=1 blocks=structure.blocks1 phase=structure.get_phase1_display %}
    {% include 'symbols/pages/generator/blocks_block.html' with number=2 blocks=structure.blocks2 phase=structure.get_phase2_display %}
    {% include 'symbols/pages/generator/blocks_block.html' with number=3 blocks=structure.blocks3 phase=structure.get_phase3_display %}
    {% include 'symbols/pages/generator/blocks_block.html' with number=4 blocks=structure.blocks4 phase=structure.get_phase4_display %}
    {% if placeholder or structure.phase5 %}
        {% include 'symbols/pages/generator/blocks_block.html' with number=5 blocks=structure.blocks5 phase=structure.get_phase5_display %}
    {% endif %}
</div>


