<div class="flex flex-col">
    <div class="relative pb-4 overflow-hidden">
        <div class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200"
             aria-hidden="true">
        </div>
        <div class="relative flex space-x-2 mb-3">
            <div>
                <div class="h-8 w-8 rounded-full bg-red-600 flex items-center justify-center ring-gray-100">
                    <div class="w-5 h-5 text-white flex items-center justify-center">
                        {{ number }}
                    </div>
                </div>
            </div>
            <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                <div>
                    <div class="text-sm text-gray-500">
                        {% if phase %}
                            <div class="inline-block align-top">{{ phase }}:</div>
                        {% else %}
                            <div class="inline-block w-16 rounded bg-gray-200 {% if step == '2' %}bg-gray-300 animate-pulse{% endif %}">
                                &nbsp;
                            </div>:
                        {% endif %}
                        <div class="inline-block font-medium text-gray-900">
                            {% if blocks %}
                                {% for block in blocks.all %}
                                    <div x-cloak x-show="String(block{{ number }}) === '{{ block.pk }}'">
                                        <div class="inline-block">{{ block.name }}</div>
                                    </div>
                                {% endfor %}
                                <div x-show="String(block{{ number }}) === '0' || String(block{{ number }}) === ''">
                                    {% for item in blocks.all %}
                                        <div class="inline-block relative">
                                            {% if step == '3' or step == '2' %}
                                                <div class="inset-0 bg-gray-200 absolute rounded {% if step == '3' %}animate-pulse bg-gray-300{% endif %}"></div>
                                            {% endif %}
                                            <span class="relative {% if step == '3' %}animate-pulse{% endif %}">{{ item.name }}</span>
                                        </div><br>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="inline-block w-24 rounded bg-gray-200 {% if step == 3 %}bg-gray-300 animate-pulse{% endif %}">
                                    &nbsp;
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if step == '1' or step == '2' or step == '3' %}
        {% include 'symbols/pages/generator/exercise_placeholder.html' %}
    {% endif %}
</div>
