{% if step == '4' or step == '5' %}
    <div class="grid grid-cols-5 gap-4">
        {% include 'symbols/pages/generator/exercises_exercise.html' with exercises=exercises exercise_step=exercise_step number='1' %}
        {% include 'symbols/pages/generator/exercises_exercise.html' with exercises=exercises exercise_step=exercise_step number='2' %}
        {% include 'symbols/pages/generator/exercises_exercise.html' with exercises=exercises exercise_step=exercise_step number='3' %}
        {% include 'symbols/pages/generator/exercises_exercise.html' with exercises=exercises exercise_step=exercise_step number='4' %}
        <template x-if="amount === 5">
            {% include 'symbols/pages/generator/exercises_exercise.html' with exercises=exercises exercise_step=exercise_step number='5' %}
        </template>
    </div>
{% endif %}