<section class="max-w-7xl mx-auto pt-10">
    <nav aria-label="Progress">
        <ol class="border border-gray-300 rounded-md divide-y divide-gray-300 md:flex md:divide-y-0">
            <li class="relative md:flex-1 md:flex">
                {% if step == '1' %}
                    {% include 'symbols/pages/generator/step.html' with state='active' step='01' text='Thema & Struktur' %}
                {% elif step == '2' or step == '3' %}
                    {% include 'symbols/pages/generator/step.html' with state='done' step='01' text='Thema & Struktur' %}
                {% endif %}
                <!-- Arrow separator for lg screens and up -->
                <div class="hidden md:block absolute top-0 right-0 h-full w-5" aria-hidden="true">
                    <svg class="h-full w-full text-gray-300" viewBox="0 0 22 80" fill="none"
                         preserveAspectRatio="none">
                        <path d="M0 -2L20 40L0 82" vector-effect="non-scaling-stroke" stroke="currentcolor"
                              stroke-linejoin="round"></path>
                    </svg>
                </div>
            </li>

            <li class="relative md:flex-1 md:flex">
                {% if step == '1' %}
                    {% include 'symbols/pages/generator/step.html' with state='future' step='02' text='Übungen' %}
                {% elif step == '2' %}
                    {% include 'symbols/pages/generator/step.html' with state='active' step='02' text='Übungen' %}
                {% elif step == '3' %}
                    {% include 'symbols/pages/generator/step.html' with state='done' step='02' text='Übungen' %}
                {% endif %}

                <!-- Arrow separator for lg screens and up -->
                <div class="hidden md:block absolute top-0 right-0 h-full w-5" aria-hidden="true">
                    <svg class="h-full w-full text-gray-300" viewBox="0 0 22 80" fill="none"
                         preserveAspectRatio="none">
                        <path d="M0 -2L20 40L0 82" vector-effect="non-scaling-stroke" stroke="currentcolor"
                              stroke-linejoin="round"></path>
                    </svg>
                </div>
            </li>

            <li class="relative md:flex-1 md:flex">
                {% if step == '1' or step == '2' %}
                    {% include 'symbols/pages/generator/step.html' with state='future' step='03' text='Übersicht' %}
                {% elif step == '3' %}
                    {% include 'symbols/pages/generator/step.html' with state='active' step='03' text='Übersicht' %}
                {% endif %}
            </li>
        </ol>
    </nav>
</section>