{% load extra_tags %}

<a href="{% url 'generator' %}?{% url_params %}&step={{ number|add:'0' }}&exercise_step=1" class="flex items-center w-full">
    <div class="text-xs px-3 py-2 flex items-center font-medium md:text-sm md:px-6 md:py-4">
        <div class="flex-shrink-0 w-6 h-6 flex items-center justify-center rounded-full border-2 md:text-lg md:w-10 md:h-10
                    {% if number|to_int > step|to_int %} border-gray-300
                    {% elif number|to_int == step|to_int %} border-red-600
                    {% elif number|to_int < step|to_int %} bg-red-600 border-red-600
                    {% endif %}"
        >
            {% if number|to_int > step|to_int %}
                <div class="text-gray-500">{{ display_number }}</div>
            {% elif number|to_int == step|to_int %}
                <div class="text-red-600">{{ display_number }}</div>
            {% elif number|to_int < step|to_int %}
                <div class="text-white">
                    {% include 'svg/outline/check.svg' with class='w-4 h-4 md:w-6 md:h-6' %}
                </div>
            {% endif %}
        </div>
        <div class="ml-2 text-sm font-medium md:ml-4
                    {% if number|to_int < step|to_int %} text-gray-500
                    {% elif number|to_int == step|to_int %} text-red-600
                    {% elif number|to_int > step|to_int %} text-gray-900
                    {% endif %}"
        >{{ text }}</div>
    </div>
</a>