{% load extra_tags %}

<div class="flex items-center w-full">
    <div class="px-6 py-4 flex items-center text-sm font-medium">
        <div class="flex-shrink-0 w-10 h-10 flex items-center justify-center rounded-full border-2
                    {% if number|to_int > step|to_int %} border-gray-300
                    {% elif number|to_int == step|to_int %} border-red-600
                    {% elif number|to_int < step|to_int %} bg-red-600 border-red-600
                    {% endif %}"
        >
            {% if number|to_int > step|to_int %}
                <div class="text-gray-500">{{ number }}</div>
            {% elif number|to_int == step|to_int %}
                <div class="text-red-600">{{ number }}</div>
            {% elif number|to_int < step|to_int %}
                <div class="text-white">
                    {% include 'svg/solid/check.svg' %}
                </div>
            {% endif %}
        </div>
        <div class="ml-4 text-sm font-medium
                    {% if number|to_int < step|to_int %} text-gray-500
                    {% elif number|to_int == step|to_int %} text-red-600
                    {% elif number|to_int > step|to_int %} text-gray-900
                    {% endif %}"
        >{{ text }}</div>
    </div>
</div>