{% include 'symbols/filters/search.html' %}
{% for training_filter in training_filters %}
    <button class="group flex items-center justify-center px-2 py-1 space-x-2 h-8 my-3 mx-2 bg-white rounded focus:outline-none"
            type="button"
            x-on:click="filterClicked({{ training_filter.pk }}, true)"
            x-show="showFilter({{ training_filter.pk }})"
    >
        <div class="text-gray-800 group-hover:text-gray-900">
            {{ training_filter.name }}
        </div>
        <div class="text-gray-400 group-hover:text-gray-500">
            {% include 'svg/outline-x-circle.svg' %}
        </div>
    </button>
{% endfor %}