<div class="rounded-lg w-full bg-gray-200 relative {{ class|default:'' }}">
    <div class="flex flex-col">
        <div class="px-3 py-2 md:pl-5 md:pr-4 md:py-3">
            <div class="flex flex-col justify-between h-full relative">
                <h2 class="text-left text-base text-gray-900 inline-block line-clamp-2 font-medium h-12 md:text-lg md:h-14 lg:text-xl lg:h-14">
                    &nbsp;
                </h2>
                <p class="text-left mt-1 text-gray-700 text-sm line-clamp-1">&nbsp;</p>
            </div>
        </div>
        <div class="relative overflow-hidden">
            <div class="aspect-w-1 aspect-h-1"></div>
        </div>
    </div>
</div>