<div class="overflow-x-scroll xl:overflow-x-auto">
    <div class="" style="min-width: 1280px">
        <div class="{% if page == 'trainings' %}text-xl{% else %}text-3xl xl:text-5xl xl:leading-normal font-bold{% endif %} text-gray-900">
            {% include 'symbols/training/topics.html' %}
        </div>
        <div class="mt-10">
            {% include 'symbols/training/structure_blocks.html' %}
        </div>
        <div class="relative z-10">
            {% include 'symbols/training/exercises.html' %}
        </div>
    </div>
</div>