{% load extra_tags %}

{% if step == '2' %}
    {% for structure in structures %}
        <div x-cloak x-show="String(structure) === '{{ structure.pk }}'">
            {% include 'symbols/training/blocks.html' with structure=structure %}
        </div>
    {% endfor %}
    <div x-show="String(structure) === '0' || String(structure) === ''">
        {% include 'symbols/training/blocks.html' with placeholder=True %}
    </div>
{% elif structure %}
    {% include 'symbols/training/blocks.html' with structure=structure %}
{% else %}
    {% include 'symbols/training/blocks.html' with placeholder=True %}
{% endif %}