<div class="-mx-2 -my-3">
    <div class="flex flex-wrap">
        {% for group in groups %}
            {% with topics=group.topics.all %}
                {% if topics %}
                    <fieldset class="block px-2 py-3 w-full {{ width|default:'lg:w-1/3' }}">
                        <legend class="font-medium text-xl contents">
                            {{ group.name }}
                        </legend>
                        <div class="bg-white rounded-md -space-y-px mt-2 shadow">
                            {% for topic in topics %}
                                <label class="border-gray-200 first:rounded-t-md last:rounded-b-md relative border p-4 flex cursor-pointer"
                                       :class="{ 'bg-red-50 border-red-200 z-10 shadow-inner': String(topic) === '{{ topic.pk }}' }"
                                >
                                    <input type="radio" name="topic" value="{{ topic.pk }}" x-model="topic"
                                           class="h-4 w-4 mt-0.5 cursor-pointer text-red-600 border-gray-300 focus:ring-0 focus:outline-none"
                                           style="box-shadow: none;"
                                           @click="if (topic === '{{ topic.pk }}') topic = '';"
                                    >
                                    <div class="ml-3 flex flex-col">
                                        {% if show_description %}
                                            <div class="text-gray-900 block text-sm uppercase"
                                                 :class="{ 'text-red-900': String(topic) === '{{ topic.pk }}' }"
                                            >
                                                {{ topic.pre }}
                                            </div>
                                        {% endif %}
                                        <div class="text-gray-900 block text-base font-medium"
                                             :class="{ 'text-red-900': String(topic) === '{{ topic.pk }}' }"
                                        >
                                            {{ topic.name }}
                                        </div>
                                        {% if show_description %}
                                            <div class="mt-2 space-y-2 text-gray-500 text-sm block break-all"
                                                 :class="{ 'line-clamp-1 overflow-hidden h-5': String(topic) !== '{{ topic.pk }}', 'text-red-900': String(topic) === '{{ topic.pk }}' }"
                                            >
                                                {{ topic.description|linebreaks }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </label>
                            {% endfor %}
                        </div>
                    </fieldset>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
</div>