<form method="post" class="age-group-form">
    <p><label for="id_age_group_0">Age group:</label></p>
    <ul id="id_age_group">
        <li><label for="id_age_group_0"><input type="radio" name="age_group" value="1" required="" id="id_age_group_0"
                                               checked="">
            A-Jugend</label>

        </li>
        <li><label for="id_age_group_1"><input type="radio" name="age_group" value="2" required="" id="id_age_group_1">
            B-Jugend</label>

        </li>
        <li><label for="id_age_group_2"><input type="radio" name="age_group" value="3" required="" id="id_age_group_2">
            C-Jugend</label>

        </li>
        <li><label for="id_age_group_3"><input type="radio" name="age_group" value="4" required="" id="id_age_group_3">
            D-Jugend</label>

        </li>
        <li><label for="id_age_group_4"><input type="radio" name="age_group" value="5" required="" id="id_age_group_4">
            E-Jugend</label>

        </li>
        <li><label for="id_age_group_5"><input type="radio" name="age_group" value="6" required="" id="id_age_group_5">
            F-Jugend</label>

        </li>
        <li><label for="id_age_group_6"><input type="radio" name="age_group" value="7" required="" id="id_age_group_6">
            G-Jugend</label>

        </li>
        <li><label for="id_age_group_7"><input type="radio" name="age_group" value="8" required="" id="id_age_group_7">
            Alle</label>

        </li>
    </ul>
    <p></p>
    <input type="hidden" name="csrfmiddlewaretoken"
           value="b6yrTFLF4hkaztizhdWUznnD3jEIuxEm52TwjTLWAqMycZjmnQvXQgbzmUk7CrYa">
    <div class="mt-5">
        <button type="submit"
                class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
            Absenden
        </button>
    </div>
</form>