<nav class="lg:divide-y lg:divide-gray-300">
    <div class="{% include 'symbols/sidenav/section.txt' %}">
        <div class="{% include 'symbols/sidenav/top.txt' %}">
            <p class="{% include 'symbols/sidenav/heading.txt' %} lg:hidden">Filterauswahl</p>
            {% include 'symbols/sidenav/button.html' with property='filterMenuOpen' text='Filtermenü öffnen' %}
        </div>
        <div x-cloak :class="{ block: filterMenuOpen, hidden: !filterMenuOpen }"
             class="{% include 'symbols/sidenav/content.txt' %} lg:-mt-4">
            {% include 'symbols/filters/index.html' %}
            <div class="pt-5 flex justify-between items-baseline">
                <a class="{% include 'symbols/button_gray.txt' %}"
                   href="{% url 'reset_training_filters' %}?reverse={{ request.path }}">Zurücksetzen</a>
                <div class="text-sm font-medium"><span x-text="showed"></span> von {{ trainings_total }} Trainings</div>
            </div>
        </div>
    </div>
    {% comment %}
    <div class="{% include 'symbols/sidenav/section.txt' %}">
        <div class="{% include 'symbols/sidenav/top.txt' %}">
            <p class="{% include 'symbols/sidenav/heading.txt' %}">Schwierigkeit einschränken</p>
            {% include 'symbols/sidenav/button.html' with property='difficultyMenuOpen' text='Schwierigkeitsmenü öffnen' %}
        </div>
        <div :class="{ block: difficultyMenuOpen, hidden: !difficultyMenuOpen }"
             class="{% include 'symbols/sidenav/content.txt' %}">
            <form action="{% url 'save_difficulties' %}?reverse={{ request.path }}" method="post" class="django-form">
                {{ difficulties_form.as_p }}
                {% csrf_token %}
                <div class="mt-5">
                    <button type="submit"
                            class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                        Absenden
                    </button>
                    <a class="{% include 'symbols/button_gray.txt' %}"
                       href="{% url 'reset_difficulty' %}?reverse={{ request.path }}">Zurücksetzen</a>
                </div>
            </form>
        </div>
    </div>
    {% endcomment %}
    {% comment %}
    <div class="{% include 'symbols/sidenav/section.txt' %}">
        <div class="{% include 'symbols/sidenav/top.txt' %}">
            <p class="{% include 'symbols/sidenav/heading.txt' %}">Filter einschränken</p>
            {% include 'symbols/sidenav/button.html' with property='trainerMenuOpen' text='Altersgruppenmenü öffnen' %}
        </div>
        <div :class="{ block: trainerMenuOpen, hidden: !trainerMenuOpen }"
             class="{% include 'symbols/sidenav/content.txt' %}">
            <form action="{% url 'save_age_group' %}?reverse={{ request.path }}" method="post" class="django-form">
                {{ age_group_form.as_p }}
                {% csrf_token %}
                <div class="mt-5">
                    <button type="submit"
                            class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                        Absenden
                    </button>
                    <a class="{% include 'symbols/button_gray.txt' %}"
                       href="{% url 'reset_age_group' %}?reverse={{ request.path }}">Zurücksetzen</a>
                </div>
            </form>
        </div>
    </div>
    {% endcomment %}
</nav>