<nav class="lg:divide-y lg:divide-gray-300">
    <div class="{% include 'symbols/sidenav/section.txt' %}">
        <div class="{% include 'symbols/sidenav/top.txt' %}">
            <p class="{% include 'symbols/sidenav/heading.txt' %} lg:hidden">Filterauswahl</p>
            {% include 'symbols/sidenav/button.html' with property='filterMenuOpen' text='Filtermenü öffnen' %}
        </div>
        <div x-cloak :class="{ block: filterMenuOpen, hidden: !filterMenuOpen }"
             class="{% include 'symbols/sidenav/content.txt' %} lg:-mt-2">
            <div class="pb-0 lg:pb-2 flex justify-between items-baseline">
                <a class="{% include 'symbols/button/button_gray.txt' %}"
                   href="{% url 'reset_training_filters' %}?reverse={{ request.path }}">Filter Zurücksetzen</a>
                <div class="text-sm font-medium"><span x-text="showed"></span> von {{ trainings_total }} Trainings</div>
            </div>
            <div class="lg:pb-5 hidden lg:block">
                <div x-data="{open: false, activeIndex: -1}"
                     @keydown.escape.stop="open = false;"
                     @click.away="open = false"
                     class="relative z-10 inline-block text-left">
                    <div>
                        <button type="button"
                                class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900"
                                id="menu-button" x-ref="button"
                                @click="open = true"
{#                                @keyup.space.prevent="onButtonEnter()" #}
{#                                @keydown.enter.prevent="onButtonEnter()"#}
                                aria-expanded="false" aria-haspopup="true" x-bind:aria-expanded="open.toString()"
{#                                @keydown.arrow-up.prevent="onArrowUp()" #}
{#                                @keydown.arrow-down.prevent="onArrowDown()"#}
                        >
                            Sortierung
                            <svg class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500"
                                 x-description="Heroicon name: solid/chevron-down" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                    <div x-show="open" x-transition:enter="transition ease-out duration-100"
                         x-transition:enter-start="transform opacity-0 scale-95"
                         x-transition:enter-end="transform opacity-100 scale-100"
                         x-transition:leave="transition ease-in duration-75"
                         x-transition:leave-start="transform opacity-100 scale-100"
                         x-transition:leave-end="transform opacity-0 scale-95"
                         class="origin-top-left absolute left-0 z-10 mt-2 w-40 rounded-md shadow-2xl bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                         x-ref="menu-items" x-description="Dropdown menu, show/hide based on menu state."
{#                         x-bind:aria-activedescendant="activeDescendant" #}
                         role="menu" aria-orientation="vertical"
                         aria-labelledby="menu-button" tabindex="-1"
{#                         @keydown.arrow-up.prevent="onArrowUp()"#}
{#                         @keydown.arrow-down.prevent="onArrowDown()" #}
{#                         @keydown.tab="open = false"#}
{#                         @keydown.enter.prevent="open = false; focusButton()"#}
{#                         @keyup.space.prevent="open = false; focusButton()" #}
                         style="display: none;">
                        <div class="py-1" role="none">
                            <a href="#" class="block px-4 py-2 text-sm font-medium text-gray-900" x-state:on="Active"
                               x-state:off="Not Active" :class="{ 'bg-gray-100': activeIndex === 0 }" role="menuitem"
                               tabindex="-1" id="menu-item-0" @mouseenter="activeIndex = 0"
                               @mouseleave="activeIndex = -1"
                               @click="open = false; focusButton()">
                                Zufällig
                            </a>
                            <a href="#" class="block px-4 py-2 text-sm font-medium text-gray-900"
                               :class="{ 'bg-gray-100': activeIndex === 1 }" role="menuitem" tabindex="-1"
                               id="menu-item-1"
                               @mouseenter="activeIndex = 1" @mouseleave="activeIndex = -1"
                               @click="open = false; focusButton()">
                                Erstellungsdatum absteigend
                            </a>
                            <a href="#" class="block px-4 py-2 text-sm font-medium text-gray-900"
                               :class="{ 'bg-gray-100': activeIndex === 2 }" role="menuitem" tabindex="-1"
                               id="menu-item-2"
                               @mouseenter="activeIndex = 2" @mouseleave="activeIndex = -1"
                               @click="open = false; focusButton()">
                                Erstellungsdatum aufsteigen
                            </a>
                            <a href="#" class="block px-4 py-2 text-sm font-medium text-gray-900"
                               :class="{ 'bg-gray-100': activeIndex === 3 }" role="menuitem" tabindex="-1"
                               id="menu-item-3"
                               @mouseenter="activeIndex = 3" @mouseleave="activeIndex = -1"
                               @click="open = false; focusButton()">
                                Alphabetisch
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'symbols/filters/index.html' %}
        </div>

    </div>
</nav>