{% load static %}

<nav class="{% include 'symbols/container.txt' %} lg:px-10 py-2 bg-white shadow-sm relative print:hidden">
    <div class="flex justify-between " x-data="{open: false}">
        <div class="flex px-2 lg:px-0">
            <div class="flex-shrink-0 flex items-center">
                <a href="{% url 'exercises' %}">
                    <img class="block w-auto h-12 lg:h-14"
                         src="{% static 'img/generation-vfr-logo.png' %}"
                         alt="VfR Garching">
                </a>
            </div>
            <div aria-label="Global" class="hidden lg:ml-6 lg:flex lg:items-center lg:space-x-4">
                {% url 'exercises' as exercises_url %}
                {% url 'favorites' as favorites_url %}
                {% include 'symbols/navigation/dropdown.html' with name='Stöbern' item1_link=exercises_url item1_name='Übungsdatenbank' item2_name='Favoriten' item2_link=favorites_url %}
                {% url 'generator' as generator_url %}
                {% url 'trainings' as trainings_url %}
                {% url 'trainings_vfr' as trainings_vfr_url %}
                {% include 'symbols/navigation/dropdown.html' with name='Planen' item1_name='Trainingsgenerator' item1_link=generator_url item2_link=trainings_url item2_name='Meine Trainings' item3_name='"VfR"-Trainings' item3_link=trainings_vfr_url %}
                {% include 'symbols/navigation/dropdown.html' with name='Lernen' item1_link=settings.link item1_target='_blank' item1_name='"VfR"-Ausbildungskonzept' %}
            </div>
        </div>
        <div class="flex-1 flex items-center justify-center px-2 lg:ml-6 lg:justify-end">
            <div class="w-full">
                <label for="search" class="sr-only">Suche</label>
                <form method="POST" action="{% url 'search' %}" class="relative">
                    {% csrf_token %}
                    <input type="hidden" name="reverse" value="{{ request.get_full_path }}">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                        <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                             fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <input id="search" name="search"
                           class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white shadow-sm placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-1 focus:ring-gray-600 focus:border-gray-600 sm:text-sm"
                           placeholder="Suchfilter (Übungsnamen & Filter) eingeben" type="search"
                           value="{{ user_settings.search|default:'' }}"
                    >
                </form>
            </div>
        </div>
        <div class="flex items-center lg:hidden">
            <button type="button"
                    x-on:click="open = !open"
                    class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-500"
                    aria-expanded="false">
                <span class="sr-only">Menü öffnen</span>
                <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>
        <div class="lg:hidden">
            <div x-show="open"
                 x-transition:enter="duration-150 ease-out"
                 x-transition:enter-start="opacity-0"
                 x-transition:enter-end="opacity-100"
                 x-transition:leave="duration-150 ease-in"
                 x-transition:leave-start="opacity-100"
                 x-transition:leave-end="opacity-0"
                 class="z-20 fixed inset-0 bg-black bg-opacity-25" aria-hidden="true"
            >
            </div>
            <div x-show="open"
                 x-transition:enter="duration-150 ease-out"
                 x-transition:enter-start="opacity-0 scale-95"
                 x-transition:enter-end="opacity-100 scale-100"
                 x-transition:leave="duration-150 ease-in"
                 x-transition:leave-start="opacity-100 scale-100"
                 x-transition:leave-end="opacity-0 scale-95"
                 class="z-30 absolute top-0 right-0 max-w-none w-full p-2 transition transform origin-top">
                <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y divide-gray-200">
                    <div class="pt-3 pb-2">
                        <div class="flex items-start justify-between px-4">
                            <div>
                                <img class="block w-auto h-12"
                                     src="{% static 'img/generation-vfr-logo.png' %}"
                                     alt="VfR Garching">
                            </div>
                            <div class="-mr-1">
                                <button type="button"
                                        x-on:click="open = !open"
                                        class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-500">
                                    <span class="sr-only">Menü schließen menu</span>
                                    {% include 'svg/outline-x.svg' %}
                                </button>
                            </div>
                        </div>
                        <div class="mt-3 px-2 space-y-1">
                            {% url 'exercises' as url %}
                            {% include 'symbols/navigation/mobile_link.html' with text='Übungsdatenbank' href=url %}
                            {% url 'favorites' as url %}
                            {% include 'symbols/navigation/mobile_link.html' with text='Favoriten' href=url %}
                            {% url 'trainings' as url %}
                            {% include 'symbols/navigation/mobile_link.html' with text='Meine Trainings' href=url %}
                            {% url 'trainings_vfr' as url %}
                            {% include 'symbols/navigation/mobile_link.html' with text='VfR Trainings' href=url %}
                            {% include 'symbols/navigation/mobile_link.html' with text='Ausbildungskonzept' target='_blank' href=settings.link %}
                        </div>
                    </div>
                    <div class="pt-4 pb-2">
                        <div class="flex items-center px-5">
                            <div class="flex-shrink-0">
                                <span class="inline-block h-10 w-10 rounded-full overflow-hidden bg-gray-100">
                                    <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                                        <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"></path>
                                    </svg>
                                </span>
                            </div>
                            <div class="ml-3">
                                <div class="text-base font-medium text-gray-800">{{ request.user.get_full_name }}</div>
                                <div class="text-sm font-medium text-gray-500">{{ request.user.username }}</div>
                            </div>
                        </div>
                        <div class="mt-3 px-2 space-y-1">
                            {% url 'logout' as url %}
                            {% include 'symbols/navigation/mobile_link.html' with text='Ausloggen' href=url %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden lg:ml-4 lg:flex lg:items-center">
            <div class="ml-4 relative flex-shrink-0" x-data="{open: false}">
                <div>
                    <button type="button"
                            x-on:click="open = !open"
                            class="bg-white rounded-full flex text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                            id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                        <span class="sr-only">Open user menu</span>
                        <span class="inline-block h-8 w-8 rounded-full overflow-hidden bg-gray-100">
                            <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"></path>
                            </svg>
                        </span>
                    </button>
                </div>
                <div x-show="open"
                     x-cloak
                     x-transition:enter="transition ease-out duration-100"
                     x-transition:enter-start="transform opacity-0 scale-95"
                     x-transition:enter-start="transform opacity-100 scale-100"
                     x-transition:leave="transition ease-in duration-75"
                     x-transition:leave-start="transform opacity-100 scale-100"
                     x-transition:leave-end="transform opacity-0 scale-95"
                     class="z-50 origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                     role="menu"
                     aria-orientation="vertical"
                     aria-labelledby="user-menu-button"
                     tabindex="-1"
                >
                    <a href="{% url 'logout' %}"
                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                       @click="open = false;"
                    >
                        Ausloggen
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>