<div x-data="searchAlpine" class="w-full sm:w-auto" x-init="init()" @click.outside="changed = false">
    <div class="w-full relative lg:w-96">
        <label for="search" class="sr-only">Suche</label>
        <form x-ref="form" method="POST" action="{% url 'search' %}" class="relative">
            {% csrf_token %}
            <input type="hidden" name="reverse" value="{{ request.get_full_path }}">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                     fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                          clip-rule="evenodd"></path>
                </svg>
            </div>
            <input id="search" name="search" x-ref="searchInput" autocomplete="off"
                   class="block w-full pl-10 pr-3 py-2 border-gray-300 border rounded-md leading-5 bg-white shadow-sm placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-0 focus:border-gray-600 sm:text-sm"
                   :class="{ 'border-2 border-gray-600 rounded-b-none border-b-0': changed, 'border focus:ring-1 focus:ring-gray-600': !changed }"
                   placeholder="Suchfilter (Übungsnamen & Filter) eingeben" type="search"
                   x-model="search"
            >
        </form>
        <div x-cloak class="absolute bottom-0 transform translate-y-full w-full z-50 pb-10"
             :class="{ 'hidden': !changed }">
            <div class="bg-white rounded-b-lg w-full shadow border-gray-600 border-t-0 border-2">
                <div class="border-t border-gray-300 px-5 py-4 space-y-4">
                    <div class="">
                        <div class="font-bold text-red-600">Übungen</div>
                        <ul class="space-y-2">
                            <template x-for="(result, index) in resultExercises" :key="index">
                                <li>
                                    <button type="button"
                                            class="rounded bg-gray-100 px-3 py-2 block w-full text-left hover:bg-gray-200"
                                            @click="resultClicked(result.name)">
                                        <span class="text-lg block font-medium" x-text="result.name"></span>
                                        <span class="text-sm block" x-text="result.focus"></span>
                                    </button>
                                </li>
                            </template>
                            <template x-if="resultExercises.length === 0 && !fetching">
                                <li class="text-gray-500">Keine Übungen gefunden.</li>
                            </template>
                            <div :class="{ 'hidden': !fetching }">
                                {% include 'symbols/navigation/spinner.html' %}
                            </div>
                        </ul>
                    </div>
                    <div class="">
                        <div class="font-bold text-red-600">Filter</div>
                        <ul class="space-y-2">
                            <template x-for="(result, index) in resultFilters" :key="index">
                                <li>
                                    <button type="button"
                                            class="rounded bg-gray-100 px-3 py-2 block w-full text-left hover:bg-gray-200"
                                            @click="resultClicked(result.name)">
                                        <span class="block text-lg font-medium" x-text="result.name"></span>
                                    </button>
                                </li>
                            </template>
                            <template x-if="resultFilters.length === 0 && !fetching">
                                <li class="text-gray-500">Keine Filter gefunden.</li>
                            </template>
                            <div :class="{ 'hidden': !fetching }">
                                {% include 'symbols/navigation/spinner.html' %}
                            </div>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>