{% extends 'base.html' %}

{% load static %}

{% block main %}
    <main class="{% include 'symbols/main.txt' %}" x-data="trainingsData">
        <aside class="{% include 'symbols/padding.txt' %} lg:w-80">
            {% include 'symbols/sidenav/index.html' %}
        </aside>
        <div class="lg:flex-1">
            <section class="{% include 'symbols/padding.txt' %}">
                <div x-cloak class="{% include 'symbols/box/filters_top.txt' %}">
                    {% include 'symbols/filters/shop.html' %}
                </div>
                <ul class="grid grid-cols-2 gap-3 sm:gap-6 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 3xl:grid-cols-5">
                    <div class="hidden" x-show="showTraining([-1])"></div>
                    {% for exercise in exercises %}
{#                        <template x-for="exercise in exercises">#}
                        <li id="{{ exercise.pk }}" x-show="showTraining([{% for filter in exercise.filters.all %}{{ filter.pk }},{% endfor %}])"
                            class="video">
                            {% include 'symbols/exercise/index.html' with state='select' %}
                        </li>
{#                        </template>#}
                    {% endfor %}
                    <div class="hidden" x-show="showTraining([-2])"></div>
                </ul>
            </section>

            <section>
                {% include 'symbols/exercise_popups.html' with exercises=exercises %}
            </section>

        </div>

    </main>

    {% include 'symbols/button/button_to_top.html' %}

    {% include 'alpine/exercises.html' %}

{% endblock main %}
