{% extends 'base.html' %}

{% load extra_tags %}

{% block main %}

    {% if step == '1' or step == '2' or step == '3' %}

        <main x-data="generator()">

            {% include 'symbols/pages/generator/progress.html' with step=step %}

            <section class="max-w-7xl mx-auto pt-10 pb-24">
                <div class="">
                    <div class="text-5xl font-bold text-gray-900">
                        {% include 'symbols/pages/generator/structure_names.html' with structures=structures %}
                    </div>
                    <div class="mt-2 text-2xl font-medium text-gray-700">
                        {% include 'symbols/pages/generator/topics.html' with topics=topics %}
                    </div>
                    <div class="mt-10">
                        {% include 'symbols/pages/generator/structure_blocks.html' with structures=structures %}
                    </div>
                    <div class="relative z-10">
                        {% include 'symbols/pages/generator/exercises.html' with exercises=exercises %}
                    </div>
                </div>
            </section>

            {% if step == '2' and exercise_step in '12345'|make_list %}
                <section class="max-w-7xl mx-auto">
                    <div class="flex justify-between items-baseline">
                        <h2 class="font-medium text-lg">Übung {{ exercise_step }} auswählen</h2>
                        <div class="text-gray-800 text-sm font-medium">{{ possible_exercises.count }} von {{ exercises_total }}</div>
                    </div>
                    <ul class="mt-4 grid grid-cols-4 gap-4">
                        {% for exercise in possible_exercises %}
                            <li>
                                <button class="relative border-2 overflow-hidden block border-transparent ring-offset-2 ring-red-600 focus:rin focus:outline-none sm:rounded-lg"
                                        x-on:click="exercise{{ exercise_step }} = {{ exercise.pk }}"
                                        type="button"
                                >
                                    {% include 'symbols/exercise/index.html' with exercise=exercise state='select' %}
                                    <div class="absolute inset-0 border-2 border-red-600 z-50 rounded-lg"
                                         :class="{ hidden: exercise{{ exercise_step }} !== {{ exercise.pk }} }"
                                    ></div>
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}

            {% if step == '1' %}
                <section class="max-w-7xl mx-auto">
                    <form class="django-form-2">
                        {{ step1form.as_p }}
                        {% csrf_token %}
                    </form>
                </section>
            {% endif %}

            <section class="max-w-7xl mx-auto pt-10 pb-64">
                <form class="django-form-2" method="POST"
                      action="{% url 'generator' %}{% include 'symbols/pages/generator/action_url_params.html' %}">
                    <div class="hidden">
                        {{ form.as_p }}
                    </div>
                    {% csrf_token %}
                    <div class="flex items-end justify-end col-span-6 space-x-3">
                        {% if step == '3' %}
                            <button class="{% include 'symbols/secondary_button.txt' with size='px-5 py-3 text-base' %} mt-4"
                                    type="button">
                                Ausdrucken
                            </button>
                        {% endif %}
                        <button class="{% include 'symbols/primary_button.txt' with size='px-6 py-3 text-base' %}"
                                type="submit">
                            {% if step == '1' or step == '2' %}
                                Weiter
                            {% elif step == '3' %}
                                Speichern
                            {% endif %}
                        </button>
                    </div>
                </form>
            </section>

        </main>

        {% include 'alpine/generator.html' %}

    {% else %}

        <main></main>

    {% endif %}

{% endblock main %}
