{% extends 'base.html' %}

{% load extra_tags %}

{% block main %}

    {% if step in '12345'|make_list %}

        <main x-data="generator()">

            {% include 'symbols/pages/generator/progress.html' with step=step %}

            <section class="{% include 'symbols/pages/generator/container.txt' %} pt-10">
                <div class="max-w-3xl">
                    <div class="rounded-md border border-gray-300 px-3 py-2">
                        <h2 class="text-lg font-bold text-gray-700">Info:</h2>
                        <p class="text-gray-800">
                            {% if step == '1' %}
                                Für dein Training solltest du als erstes festlegen, welches Thema du behandeln möchtest.
                            {% elif step == '2' %}
                                Für dein ausgewähltes Thema bieten wir sinnvolle Trainingsstrukturen an. Diese sorgt
                                dafür, dass dein Training einem logischen Aufbau folgt und die Phasen deines Trainings
                                aufeinander aufbauen. Mit deiner Auswahl legst du die Übungsarten für den Hauptteil
                                fest.
                            {% elif step == '3' %}
                                Du kannst für das Warm-Up und den Abschluss deines Trainings eine Übungsart auswählen.
                                Die Übungsarten für den Hauptteil hast du durch die Trainingsstruktur bereits
                                festgelegt.
                            {% elif step == '4' %}
                                Bitte wähle eine der vorgeschlagenen Übungen für die aktuelle Trainingsphase aus. Du
                                kannst auch mit Hilfe der Suchfunktion die Übungsauswahl weiter einschränken. Klicke auf
                                "Weiter", ohne eine Übung auszuwählen, wenn du diese Trainingsphase überspringen
                                möchtest.
                            {% elif step == '5' %}
                                Gratuliere! Du hast deine Trainingseinheit fertig gestellt. <br><br>
                                Du kannste diese nun als PDF-Datei ausdrucken oder an deine Trainerkollegen verschicken.
                                <br>
                                <br>
                                Möchtest du dieses Training langfristig Speichern, dann vergib einen Namen für deine
                                Trainingseinheit und klicke auf "Speichern".
                            {% endif %}
                        </p>
                    </div>
                </div>
            </section>

            <section class="{% include 'symbols/pages/generator/container.txt' %} pt-10">

                <form class="django-form-2" method="{% if step == '5' %}POST{% else %}GET{% endif %}"
                      action="{% url 'generator' %}{% if training %}?training={{ training.pk }}{% endif %}">
                    {{ form.as_p }}
                    {% if step == '5' %}
                        {% csrf_token %}
                    {% endif %}
                    {% if training %}
                        <input type="hidden" name="training" value="{{ training.pk }}">
                    {% endif %}
                    <input type="hidden" name="step"
                           value="{% include 'symbols/pages/generator/url_params_step.html' %}">
                    <input type="hidden" name="exercise_step"
                           value="{% include 'symbols/pages/generator/url_params_exercise.html' %}">
                    <div class="flex items-end lg:justify-end col-span-6">
                        <div class="flex flex-col space-x-0 space-y-2 lg:space-y-0 lg:flex-row lg:space-x-3">
                            <div class="flex flex-row flex-wrap -m-2">

                                {% if step in '2345'|make_list %}
                                    <div class="p-2">
                                        {% include 'symbols/pages/generator/back_button.html' %}
                                    </div>
                                {% endif %}

                                <div class="p-2">
                                    <button class="{% include 'symbols/button_green.txt' with size='px-6 py-3 text-base' %}"
                                            type="submit">
                                        {% if step == '1' or step == '2' or step == '3' or step == '4' %}
                                            Weiter
                                        {% elif step == '5' %}
                                            Speichern
                                        {% endif %}
                                    </button>
                                </div>

                                {% if step in '2345'|make_list %}

                                    <div class="p-2">
                                        <a class="{% include 'symbols/button_red.txt' with size='px-5 py-3 text-base' %}"
                                           href="{% url 'generator' %}"
                                        >
                                            Neustarten
                                        </a>
                                    </div>

                                {% endif %}
                                {% if step == '5' %}

                                    <div class="p-2">
                                        <button formaction="{% url 'generator_print' %}"
                                                class="{% include 'symbols/button_gray.txt' with size='px-5 py-3 text-base' %}"
                                                type="submit">
                                            PDF erstellen
                                        </button>
                                    </div>

                                    <div class="p-2 lg:hidden">
                                        <a class="{% include 'symbols/button_gray.txt' with size='px-5 py-3 text-base' %}"
                                           href="whatsapp://send?text={{ request.get_full_path }}"
                                           data-action="share/whatsapp/share">Auf WhatsApp teilen</a>
                                    </div>

                                    <div class="p-2">
                                        {% include 'symbols/button_copy.html' with text='Link kopieren' link='https://training.vfr-garching.com'|add:request.get_full_path size='px-5 py-3 text-base' %}
                                    </div>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            </section>

            <section class="{% include 'symbols/pages/generator/container.txt' %} pt-10 pb-24">
                {% include 'symbols/training/index.html' %}
            </section>

            {% if step == '4' and exercise_step in '12345'|make_list %}
                <section class="{% include 'symbols/pages/generator/container.txt' %}">
                    <div class="flex justify-between items-baseline">
                        <h2 class="font-medium text-lg">Bitte wähle die Übung für die aktuelle Trainingsphase aus:</h2>
                        <div class="text-gray-800 text-sm font-medium">{{ possible_exercises.count }}
                            von {{ exercises_total }}</div>
                    </div>
                    <div class="mt-4">
                        <div x-cloak class="{% include 'symbols/box/filters_top.txt' %}">
                            {% include 'symbols/filters/search.html' %}
                        </div>
                    </div>
                    <ul class="mt-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
                        {% for exercise in possible_exercises %}
                            <li class="relative">
                                <div class="relative border-2 overflow-hidden block border-transparent focus:outline-none sm:rounded-lg">
                                    {% include 'symbols/exercise/index.html' with exercise=exercise state='select' %}
                                </div>
                                <div class="absolute bottom-3 right-3 z-10">
                                    <button class="{% include 'symbols/button_gray.txt' with ring_offset='ring-offset-0' %} relative"
                                            :class="{ 'pl-7': exercise{{ exercise_step }} === {{ exercise.pk }} }"
                                            type="button"
                                            x-on:click="exercise{{ exercise_step }} = {{ exercise.pk }}"
                                    >
                                        <div class="absolute left-1"
                                             x-show="exercise{{ exercise_step }} === {{ exercise.pk }}"
                                        >
                                            {% include 'svg/solid/check-circle.svg' %}
                                        </div>
                                        Auswählen
                                    </button>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}

            {% if step == '4' or step == '5' %}
                {% include 'symbols/exercise_popups.html' %}
            {% endif %}

            <div class="h-64"></div>

        </main>

        {% include 'symbols/button_to_top.html' %}

        {% include 'alpine/generator.html' %}

    {% else %}

        <main></main>

    {% endif %}

{% endblock main %}
