{% extends 'base.html' %}

{% load extra_tags %}
{% load static %}

{% block content %}
    <section class="pt-10 pb-32">
        <div class="{% include 'symbols/padding.txt' %}">
            <div class="{% include 'symbols/container/narrow.txt' %}">
                <form method="POST">
                    {% csrf_token %}
                    <div class="space-y-6">
                        <div class="hidden bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
                            <div class="md:grid md:grid-cols-3 md:gap-6">
                                <div class="md:col-span-1">
                                    <h3 class="text-lg font-medium leading-6 text-gray-900">Allgemein</h3>
                                    <p class="mt-1 text-sm text-gray-500">
                                        Hier lassen sich allgemeine Einstellungen anpassen wie zum Beispiel E-Mail und
                                        Passwort.
                                    </p>
                                </div>
                                <div class="mt-5 md:mt-0 md:col-span-2">

                                </div>
                            </div>
                        </div>

                        <div class="hidden bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
                            <div class="md:grid md:grid-cols-3 md:gap-6">
                                <div class="md:col-span-1">
                                    <h3 class="text-lg font-medium leading-6 text-gray-900">Übungen</h3>
                                    <p class="mt-1 text-sm text-gray-500">
                                        Alle Einstellungen hier haben Einfluss auf die Übungen.
                                    </p>
                                </div>
                                <div class="mt-5 md:mt-0 md:col-span-2">

                                </div>
                            </div>
                        </div>

                        <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
                            <div class="md:grid md:grid-cols-3 md:gap-6">
                                <div class="md:col-span-1">
                                    <h3 class="text-lg font-medium leading-6 text-gray-900">Trainings</h3>
                                    <p class="mt-1 text-sm text-gray-500">
                                        Hier getätigte Einstellung beeinflussen die Trainings.
                                    </p>
                                </div>
                                <div class="mt-5 md:mt-0 md:col-span-2">
                                    <div class="django-form">
                                        {{ form.as_p }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flex justify-end">
                            <button type="submit"
                                    class="{% include 'symbols/button/button_green.txt' %}">
                                Speichern
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}
