{% extends 'base.html' %}

{% load static %}

{% block body %}
    <body>
    <script src="https://cdn.tailwindcss.com/3.0.23?plugins=typography"></script>
    <style type="text/css">
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        @page {
            @bottom-right {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                content: counter(page);
                height: 0.3cm;
                text-align: center;
                width: 0.3cm;
            }
        }
    </style>
    <div class="float-right">
        <img class="block w-auto h-12 lg:h-14"
             src="{% static 'img/generation-vfr-logo.png' %}"
             alt="VfR Garching">
    </div>
    <article class="prose prose-sm w-full max-w-none">
        <h1 class="text-3xl font-bold">{{ object.name }}</h1>
        <p class="">
            <b>Thema:</b> {{ object.topic|default:'-' }} <br>
            <b>Spieleranzahl:</b> {{ object.player_amount|default:'-' }} <br>
            <br>
            <b>Übung 1:</b> {{ object.exercise1|default:'-' }} <br>
            <b>Übung 2:</b> {{ object.exercise2|default:'-' }} <br>
            <b>Übung 3:</b> {{ object.exercise3|default:'-' }} <br>
            {% if object.exercise4 %}
                <b>Übung 4:</b> {{ object.exercise4|default:'-' }} <br>
            {% endif %}
            {% if object.exercise5 %}
                <b>Übung 5:</b> {{ object.exercise5|default:'-' }} <br>
            {% endif %}
            <br>
            <b>Beschreibung:</b><br>
            {{ object.description|default:'-/-'|linebreaksbr }}
        </p>
    </article>
    <div class="" style="page-break-before: always"></div>
    <article>
        {% include 'symbols/exercise/print.html' with exercise=object.exercise1 %}
    </article>
    <div class="" style="page-break-before: always"></div>
    <article>
        {% include 'symbols/exercise/print.html' with exercise=object.exercise2 %}
    </article>
    <div class="" style="page-break-before: always"></div>
    <article>
        {% include 'symbols/exercise/print.html' with exercise=object.exercise3 %}
    </article>
    {% if object.exercise4 %}
        <div class="" style="page-break-before: always"></div>
        <article>
            {% include 'symbols/exercise/print.html' with exercise=object.exercise4 %}
        </article>
    {% endif %}
    {% if object.exercise5 %}
        <div class="" style="page-break-before: always"></div>
        <article>
            {% include 'symbols/exercise/print.html' with exercise=object.exercise5 %}
        </article>
    {% endif %}
    </body>
{% endblock body %}
