{% extends 'base.html' %}

{% load extra_tags %}
{% load static %}

{% block main %}

    <main class="{% include 'symbols/main.txt' %}" x-data="trainings()" x-init="init()">

        <aside class="{% include 'symbols/padding.txt' %} lg:w-80">
            {% include 'symbols/pages/trainings/sidenav.html' %}
        </aside>

        <div class="lg:flex-1">

            <section class="{% include 'symbols/padding.txt' %}">
                <a class="block rounded-lg overflow-hidden max-w-screen-lg mx-auto" href="{% url 'generator' %}">
                    <img class="w-full max-w-full h-auto" src="{% static 'img/trainingsgenerator.png' %}"
                         alt="Zum Trainingsgenerator">
                </a>
            </section>

            <section class="{% include 'symbols/padding.txt' %} py-20">
                <ul class="grid 2xl:grid-cols-2 gap-4">
                    {% for object in object_list %}
                        <li x-show="showTraining('{{ object.topic.pk }}')">
                            <a class="block bg-white rounded shadow"
                               href="{{ object.get_share_url }}&training={{ object.pk }}">
                                <div class="flex items-center justify-between md:pl-4">
                                    <div class="flex flex-col md:flex-row md:justify-between w-full">
                                        <div class="flex-1 px-4 py-3 pr-10 truncate flex items-center md:px-0">
                                            <div class="truncate">
                                                <p class="truncate text-base font-medium text-red-600">
                                                    {{ object.name }}
                                                </p>
                                                <div class="mt-1 text-sm text-gray-500 truncate">
                                                    {{ object.topic }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rounded-b overflow-hidden md:rounded-l-none md:rounded-r">
                                            <div class="flex -m-1 md:m-0 md:space-x-2">
                                                {% include 'symbols/pages/trainings/image.html' with exercise=object.exercise1 %}
                                                {% include 'symbols/pages/trainings/image.html' with exercise=object.exercise2 %}
                                                {% include 'symbols/pages/trainings/image.html' with exercise=object.exercise3 %}
                                                {% include 'symbols/pages/trainings/image.html' with exercise=object.exercise4 %}
                                                {% include 'symbols/pages/trainings/image.html' with exercise=object.exercise5 %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </section>

            <section>
                {% include 'symbols/exercise_popups.html' %}
            </section>
        </div>

    </main>

    {% include 'alpine/trainings.html' %}

{% endblock %}
