{% extends 'base.html' %}

{% load extra_tags %}
{% load static %}

{% block main %}

    <main class="{% include 'symbols/main.txt' %}" x-data="trainings()" x-init="init()">

        {#        <aside class="{% include 'symbols/padding.txt' %} lg:w-80">#}
        {#            {% include 'symbols/pages/trainings/sidenav.html' %}#}
        {#        </aside>#}

        <div class="lg:flex-1">

            <section class="{% include 'symbols/padding.txt' %} pb-20 space-y-20">
                {% for group in training_groups %}
                    <div>
                        <h1 class="text-3xl font-bold text-gray-700">{{ group.name }}</h1>
                        <p>
                            {{ group.description|linebreaksbr }}
                        </p>
                        <ul class="grid gap-4 mt-8">
                            {% for connection in group.training_connections %}
                                {% with object=connection.training %}
                                    {% include 'symbols/training/list_item.html' %}
                                {% endwith %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </section>
        </div>

    </main>

    {% include 'alpine/trainings.html' %}

{% endblock %}
