{% extends 'base.html' %}

{% load extra_tags %}
{% load static %}

{% block main %}

    <main class="{% include 'symbols/main.txt' %}" x-data="trainings()" x-init="init()">

{#        <aside class="{% include 'symbols/padding.txt' %} lg:w-80">#}
{#            {% include 'symbols/pages/trainings/sidenav.html' %}#}
{#        </aside>#}

        <div class="lg:flex-1">

            <section class="{% include 'symbols/padding.txt' %} pb-20">
                <h1 class="text-3xl font-bold text-gray-700 mb-8">{{ title }}</h1>
                <ul class="grid 2xl:grid-cols-2 gap-4">
                    {% for object in object_list %}
                       {% include 'symbols/training/list_item.html' %}
                    {% endfor %}
                </ul>
            </section>
        </div>

    </main>

    {% include 'alpine/trainings.html' %}

{% endblock %}
