<div class="grid grid-cols-1 lg:grid-cols-3 gap-4 gap-y-8">
    {% for structure in structures %}
        <div class="">
            <div class="font-medium text-xl">
                {{ structure.name }}
            </div>
            <label class="mt-2 border-gray-200 first:rounded-t-md last:rounded-b-md relative border p-4 flex cursor-pointer bg-white rounded-md shadow"
                   :class="{ 'bg-red-50 border-red-200 z-10 shadow-inner': String(structure) === '{{ structure.pk }}' }"
            >
                <input type="radio" name="structures" value="{{ structure.pk }}"
                       x-model="structure"
                       class="h-4 w-4 mt-0.5 cursor-pointer text-red-600 border-gray-300 focus:ring-0 focus:outline-none"
                       style="box-shadow: none;"
                       @click="if (structure === '{{ structure.pk }}') structure = '';"
                >
                <div class="ml-3 flex flex-col w-full">
                    <div class="divide-y-2 divide-gray-200"
                         :class="{ 'divide-red-100': String(structure) === '{{ structure.pk }}' }">
                        {% for phase, blocks in structure.get_blocks %}
                            {% if phase and blocks %}
                                <div class="{% if not forloop.first %}mt-4 pt-4{% endif %}">
                                    <div class="text-gray-900 block text-sm uppercase"
                                         :class="{ 'text-red-900': String(structure) === '{{ structure.pk }}' }"
                                    >
                                        {{ phase }}
                                    </div>
                                    {% if blocks.count == 1 %}
                                        <div class="text-gray-900 block text-base font-medium"
                                             :class="{ 'text-red-900': String(structure) === '{{ structure.pk }}' }"
                                        >
                                            {{ blocks.0.name }}
                                        </div>
                                        <div class="mt-2 space-y-2 text-gray-500 text-sm block break-all"
                                             :class="{ 'hidden': String(structure) !== '{{ structure.pk }}', 'text-red-900': String(structure) === '{{ structure.pk }}' }"
                                        >
                                            {{ blocks.0.description }}
                                        </div>
                                    {% else %}
                                        <div class="text-gray-900 block text-base font-medium"
                                             :class="{ 'text-red-900': String(structure) === '{{ structure.pk }}' }"
                                        >
                                            {% for block in blocks.all %}
                                                {{ block.name }} {% if not forloop.last %}/{% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </label>
        </div>
    {% endfor %}
</div>
